<h3>Tweet Confirmation</h3>
<%= form_with(model: @tweet, local: true, url: tweets_path) do |form| %>
  <%= form.hidden_field :content %>
  <p>Content:<%= @tweet.content %></p>
  <%= form.submit  "Confirm" %>
  <%= form.submit "Back", name: 'back' %>
<% end %>
